<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="js/example.js"></script>
    <script src="js/quiz.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mindmap.css">
    <link rel="stylesheet" href="css/theme.css">
  </head>
  <body>
<div class="container-full">
      
      <div class="navbar navbar-default">
         <div class="navbar-header">
          <a class="navbar-brand" href="#">Grammar Diagram</a>
        </div>
        <div class="navbar-collapse collapse" ng-controller="ModalQuizCtrl">
            <ul class="nav navbar-nav">
              <li><a href="#" ng-click="open('', 'quiz/modal.html')">Quiz</a></li>
            </ul>
          </div>
      </div>
      <div class="text-right" ng-controller="ModalQuizCtrl">
          <span class="spanHeader"><strong>Quiz</strong></span>
          <pagination total-items="totalItems" items-per-page="itemsPerPage" max-size="3" ng-model="currentPage" ng-change="pageChanged()"></pagination>
      </div>
      <div class="text-center" ng-controller="ModalDemoCtrl">
        <h3>Types of sentence</h3>
        <div ng-include="'detail/sentence.html'"></div>
        <h3>Structure of simple sentence</h3>
        <div ng-include="'detail/structure.html'"></div> 
      </div>
</div>
</body>
</html>
