<li class="children__item">
	<div class="node">
	<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/participle_adj_con.html')">Participle</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/participle_adj_emotion_con.html')">Emotion</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/participle_adj_process_con.html')">Process</div>
		</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node">
	<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/order_adj_con.html')">Order of adjective</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/more_order_adj_con.html')">Order</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/function_order_adj_con.html')">Function</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/brand_order_adj_con.html')">Brand</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/unbreakable_order_adj_con.html')">Unbreakable</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/result_order_adj_con.html')">result</div>
		</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node">
	<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/comparison_con.html')">Comparisons</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/same_comparison_con.html')">Same / as...as</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/more_comparison_con.html')">More / -er...than</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/farther_comparison_con.html')">Farther / Further</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node node_brown">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/most_comparison_con.html')">Most / -est</div>
		</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node">
	<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun_modifier_adj_con.html')">Noun modifier</div>
	</div>
		<ol class="children">
			<li class="children__item">
			<div class="node node_brown">
			<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/number_noun_modifier_adj_con.html')">Number-Noun</div>
			</div>
		</ol>
</li>
<li class="children__item">
	<div class="node">
	<div class="node__text">Intensifier (adverbial)</div>
	</div>
</li>
<li class="children__item">
	<div class="node">
	<div class="node__text">Mitigatior (adverbial)</div>
	</div>
</li>