<li class="children__item">
	<div class="node node_orange">
	<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/article_con.html')">Article</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_orange">
	<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/possessive_con.html')">Possessive</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_orange">
	<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/demonstrative_con.html')">Demonstrative</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_orange">
	<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/quantitative_con.html')">Qualitative and Quantitative</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_orange">
	<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/interrogative_con.html')">Interrogative</div>
	</div>
	<ol class="children">
		<li class="children__item">
			<div class="node node_green">
			<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/wh_interrogative_con.html')">Wh-question</div>
			</div>
		</li>
	</ol>
</li>