<li class="children__item">
	<div class="node node_green">
	<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/proper_noun_con.html')">Proper noun</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
	<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/common_noun_con.html')">Common noun</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
	<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/countable_noun_con.html')">Countable noun</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
	<div class="node__text">Uncountable noun</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_ab_con.html')">A-B</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_cd_con.html')">C-D</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_ef_con.html')">E-F</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_gh_con.html')">G-H</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_ij_con.html')">I-J</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_kl_con.html')">K-L</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_mn_con.html')">M-N</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_op_con.html')">O-P</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_qr_con.html')">Q-R</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_s_con.html')">S</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_tv_con.html')">T-V</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/uncount_wz_con.html')">W-Z</div>
		</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_green">
	<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/collective_noun_con.html')">Collective noun</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
	<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/concrete_noun_con.html')">Concrete noun</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
	<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/abstract_noun_con.html')">Abstract noun</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
	<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/pronoun_con.html')">Pronoun</div>
	</div>
	<ol class="children">
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/pronoun_personal_con.html')">Personal Pronouns</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/noun/pronoun_demon_con.html')">Demonstrative Pronouns</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/noun/pronoun_posses_con.html')">Possessive Pronouns</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/noun/pronoun_inter_con.html')">Interrogative Pronouns</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/noun/pronoun_ref_con.html')">Reflexive Pronouns</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/noun/pronoun_rec_con.html')">Reciprocal Pronouns</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/pronoun_ind_con.html')">Indefinite Pronouns</div>
		</div>
		</li>
		<li class="children__item">
		<div class="node">
		<div class="node__text" ng-click="open('lg', 'detail/structure/nounPharse/noun/pronoun_rel_con.html')">Relative Pronouns</div>
		</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_green">
	<div class="node__text">Gurund</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
	<div class="node__text">To infinitive (*)</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
	<div class="node__text">Collocation (*)</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_green">
	<div class="node__text">Idiom (*)</div>
	</div>
</li>
