<li class="children__item">
	<div class="node node_yellow">
	<div class="node__text" ng-click="open('', '')">Some / Any</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_yellow">
	<div class="node__text" ng-click="open('', '')">Much / Many</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_yellow">
	<div class="node__text" ng-click="open('', '')">Little / Few</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_yellow">
	<div class="node__text" ng-click="open('', '')">Much / More</div>
	</div>
</li>
<li class="children__item">
	<div class="node node_yellow">
	<div class="node__text" ng-click="open('', '')">Most / Most of the</div>
	</div>
</li>