<li class="children__item">
	<div class="node node_brown">
	<div class="node__text" ng-click="open('', 'detail/structure/verb/present_con.html')">Present simple</div>
	</div>
	<ol class="children">
		<li class="children__item">
			<div class="node node_orange">
			<div class="node__text" ng-click="open('', 'detail/structure/verb/present_pro_con.html')">Progressive</div>
			</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_brown">
	<div class="node__text" ng-click="open('', 'detail/structure/verb/present_per_con.html')">Present perfect</div>
	</div>
	<ol class="children">
		<li class="children__item">
			<div class="node node_orange">
			<div class="node__text" ng-click="open('', 'detail/structure/verb/present_per_con.html')">Progressive</div>
			</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_brown">
	<div class="node__text" ng-click="open('', 'detail/structure/verb/past_con.html')">Past simple</div>
	</div>
	<ol class="children">
		<li class="children__item">
			<div class="node node_orange">
			<div class="node__text" ng-click="open('', 'detail/structure/verb/past_pro_con.html')">Progressive</div>
			</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_brown">
	<div class="node__text" ng-click="open('', 'detail/structure/verb/past_per_con.html')">Past perfect</div>
	</div>
	<ol class="children">
		<li class="children__item">
			<div class="node node_orange">
			<div class="node__text" ng-click="open('', 'detail/structure/verb/past_per_con.html')">Progressive</div>
			</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_brown">
	<div class="node__text" ng-click="open('', 'detail/structure/verb/future_con.html')">Future simple</div>
	</div>
	<ol class="children">
		<li class="children__item">
			<div class="node node_orange">
			<div class="node__text" ng-click="open('', 'detail/structure/verb/future_pro_con.html')">Progressive</div>
			</div>
		</li>
	</ol>
</li>
<li class="children__item">
	<div class="node node_brown">
	<div class="node__text" ng-click="open('', 'detail/structure/verb/future_per_con.html')">Future perfect</div>
	</div>
	<ol class="children">
		<li class="children__item">
			<div class="node node_orange">
			<div class="node__text" ng-click="open('', 'detail/structure/verb/future_per_pro_con.html')">Progressive</div>
			</div>
		</li>
	</ol>
</li>

