<li class="children__item">
	<div class="node node_navy">
	<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/quantifier_con.html')">Quantifier</div>
	</div>
	<ol ng-include="'detail/structure/nounPharse/quantifier.html'" class="children"></ol>
</li>
<li class="children__item">
	<div class="node node_navy">
	<div class="node__text" ng-click="open('', 'detail/structure/nounPharse/determiner_con.html')">Deteminer</div>
	</div>
	<ol ng-include="'detail/structure/nounPharse/determiner.html'" class="children"></ol>
</li>
<li class="children__item">
	<div class="node node_navy">
	<div class="node__text">Adjective</div>
	</div>
	<ol ng-include="'detail/structure/nounPharse/adjective.html'" class="children"></ol>
</li>
<li class="children__item">
	<div class="node node_navy">
	<div class="node__text">Noun</div>
	</div>
	<ol ng-include="'detail/structure/nounPharse/noun.html'" class="children"></ol>
</li>
